<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mz.maputobustrackerModule">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the utilizador's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.javapapers.android.maps.path.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="mz.maputobustrackerModule.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/start"
        android:label="Módulo GPS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:theme" />
        <activity
            android:name="mz.maputobustrackerModule.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.LoginActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mz.maputobustrackerModule.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="mz.maputobustrackerModule.AssociarDeviceActivity"
            android:label="Serviço de Localização"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="mz.maputobustrackerModule.ResetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="mz.maputobustrackerModule.MainActivity" />
        <activity
            android:name="mz.maputobustrackerModule.MapsActivity" />
        <activity
            android:name="mz.maputobustrackerModule.StatusActivity" />
        <activity
            android:name="mz.maputobustrackerModule.LinkAccountsActivity"
            android:label="@string/title_activity_link_accounts" />
        <activity
            android:name="mz.maputobustrackerModule.UpdateActivity"
            android:label="@string/title_activity_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="mz.maputobustrackerModule.UpdateLoginActivity"
            android:label="@string/title_activity_update_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="mz.maputobustrackerModule.UpdatePasswordActivity"
            android:label="@string/title_activity_update_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="mz.maputobustrackerModule.RemoveUserActivity"
            android:label="@string/title_activity_remove_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6hrlddGXJdKxWAn4rqWz1BKF8UYP2-xg" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3dc6b3f7c9b49dc77c730868b0ee3ee4530d9966" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>